@media screen and (min-width: 700px) {
    .largeTitle {
        font-size: 80px;
    }
    .largeTitle2 {
        font-size: 70px;
    }
    .text {
        margin-left: 30%;
        margin-right: 30%;
        font-size: 20px;
        text-align: left;
        padding-left: 80px;
        margin-top: 0px;
    }
    .largeText {
        margin-left: 20%;
        margin-right: 20%;
        font-size: 25px;
    }
    .smallText {
        font-size: 20px;
    }
    .titleImage {
        width: 30%;
        text-align: center;
    }
    hr {
        border:1px solid #c4c4c4;
        border-radius: 1px;
        swidth: 60%;
    }
    .largeMargin {
        margin-right: 25%;
        margin-left: 25%
    }
    .smallMargin {
        margin-right: 15%;
        margin-left: 15%
    }
    .questions {
        margin-left: 15%;
        margin-right: 15%;
        text-align: left;
    }
    .horizontal-adaptable-small {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .horizontal-adaptable-divider {
        display: block;
    }
}


@media screen and (max-width: 700px) {
    .largeTitle {
        font-size: 60px;
    }
    .largeTitle2 {
        font-size: 50px;
    }
    .text {
        margin-left: 20%;
        margin-right: 20%;
        font-size: 20px;
        text-align: left;
        
    }
    .largeText {
        margin-left: 15%;
        margin-right: 15%;
        font-size: 25px;
    }
    .smallText {
        font-size: 20px;
    }
    .titleImage {
        width: 50%;
        text-align: center;
    }
    hr {
       border: 1px solid #c4c4c4;
       border-radius: 1px;
       swidth: 70%;
    }
    .largeMargin {
        margin-right: 15%;
        margin-left: 15%
    }
    .smallMargin {
        margin-right: 8%;
        margin-left: 8%
    }
    .questions {
        margin-left:5%;
        margin-right:5%;
        text-align:left;
    }
    .horizontal-adaptable-small {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .horizontal-adaptable-divider {
        display: block;
    }
}
@media screen and (max-width: 410px) {
    .largeTitle {
        font-size: 50px;
    }
    .largeTitle2 {
        font-size: 40px;
    }
    .text {
        margin-left: 20px;
        margin-right: 20px;
        font-size: 20px;
        text-align: left;
    }
    .largeText {
        margin-left: 10%;
        margin-right: 10%;
        font-size: 20px;
    }
    .smallText {
        font-size: 20px;
    }
    .titleImage {
        width: 80%;
        text-align: center;
    }
    hr {
        border: 1px solid #c4c4c4;
        border-radius: 1px;
        swidth: 90%;
    }
    .largeMargin {
        margin-right: 5%;
        margin-left: 5%
    }
    .smallMargin {
        margin-right: 2%;
        margin-left: 2%
    }
    .questions {
        margin-left:2%;
        margin-right:2%;
        text-align:left;
    }
    .horizontal-adaptable-small {
        display: block;
    }
    .horizontal-adaptable-divider {
        display: none;
    }
}

.horizontal-adaptable-divider {
    margin-right: 10px;
    margin-left: 10px;
    color: #b5b5b5;
}

.auto_image {
   background-image: url('./images/Icon-128.png');
   background-size: 50px;
   width: 50px;
   height: 50px;
   margin-right: -20px;
}





body {
    font-family: helvetica;
    text-align: center;
    zoom: 100%;
    max-width: 100%;
    overflow-x: hidden;
    margin-bottom: 0px;
}


.link {
    color: #515151;
    font-size: 8pt;
    text-decoration: none;
}
.link:hover {
    color: #0c0c0c;
}


.footerLink {
    color: #b5b5b5;
    font-size: 11pt;
    text-decoration: none;
}
.footerLink:hover {
    color: #e8e8e8;
}


.footerHeader {
    color: #e8e8e8;
    font-size: 11pt;
    font-weight: bold;
}

.image-wrapper {
    width: 60px;
    height: 60px;
    margin-right: 20px;
    overflow: hidden;
    position: relative;
    background: #017BFF;
    border-radius: 50%;
}
.image-wrapper img {
    width: 50%;
    height: 50%;
    position: relative;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 25%;
    margin-bottom: 25%;
    text-align:center;
    background: clear;
}
.footer {
    width: 100%;
    height: 50%;
    position: relative;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 25%;
    margin-bottom: 25%;
    text-align:center;
    background: clear;
}
.button {
    background-color: #FFF;
    border: 2px solid #017BFF;
    color: #2e2e2e;
    height: 40px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    white-space: nowrap;
    font-size: 14pt;
    text-decoration: none;
    cursor: pointer;
    border-radius: 20px;
}
.button:hover {
    background-color: #017BFF;
    color: white;
    transition: 0.3s;
}

.button2 {
    background-color: #017BFF;
    border: 0px solid #017BFF;
    color: white;
    height: 50px;
    width: 150px;
    text-align: center;
    font-size: 15pt;
    white-space: nowrap;
    text-decoration: none;
    cursor: pointer;
    border-radius: 25px;
}
.button2:hover {
    background-color: #FFF;
    border: 2px solid #017BFF;
    color: #017BFF;
    transition: 0.3s;
}

.smallImage {
    width:110px;
    height:110px;
}

.downloadDiv {
    margin: auto;
    right: 0;
    left: 0;
    width: 500px;
    background-color: #e0e0e0;
    border-radius: 50px;
}


.horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.topnav {
  overflow: hidden;
  background-color: clear;
  
  margin-top: -10px;
  margin-bottom: -10px;
  margin-left: -10px;
  margin-right: -10px;
}

.topnav a {
  float: left;
  color: gray;
  text-align: center;
  padding: 8px;
  padding-top: 12px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  color:  #aaaaaa;
}

.topnav a.active {
  color: #2e2e2e;
}





.header {
    color:#017BFF   ;
    padding-left:10px;
    padding-right:20px;
    padding-top:8px;
    padding-bottom:8px;
    
    /*background-color:#FE950F;*/
    border: 1.5px solid #017BFF;
    
    text-align:left;
    font-size:18px;
    
    border-radius:12px;
    
    cursor:pointer;
    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.content {
    margin-top:0px;
    
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    padding-bottom:10px;
    
    color:#6b6b6b;
    background-color:#FFF;
    border: 1.5px solid #017BFF;
    border-radius:12px;
    
    border-top:none;
    border-top-right-radius:0px;
    border-top-left-radius:0px;
    
    display:none;
}

.accordianIndicator {
    font-family:courier;
}